.header{
    background-color: rgba(68, 12, 114, 0.438);
}
body{
    background-color: white;
}
.menuContainer{
    grid-column: 1/4;
    width: 50vw;
    height: 85vh;
    justify-self: end;
    margin-right: 10vw;
    padding:3rem;
    display: flex;
    flex-direction: column;

    font-family: 'RobItalic';

    animation: fadeIn 0.75s ease-in;
    border-radius: 25px;
}
    .title{
        align-self: center;
        font-family: 'Roboto';
    }
    .bakeryMenu{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 70vh;
    }
        .bakeryItem{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dashed black;
        }
        #product{

        }
        #price{
            margin-left: 10rem;
            align-self: start;
        }