.contentWrap{
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    /* grid-template-columns: repeat(3, auto); */
    /* grid-template-rows: auto repeat(3, 40vh); */
    gap: 1rem;
    animation: fadeIn 0.75s ease-in;
}
    .textWrap{
        grid-row: 1/2;
        grid-column: 1/4;
        display: grid;
        background-color: white;
        width: 75vw;
        justify-self: center;
        margin: 3rem 0;
        border-radius: 25px;
        text-align: center;
    }
        .saltedCarmel{
            grid-row: 1/6;
            grid-column: 1/2;
            max-width: 40vw;
            padding: 2rem;
           
        }
        .visitUs{
            grid-row: 1/2;
            grid-column: 2/3;
            font-size: 3.2rem;
            font-family: 'sigmar';
            color: rgb(112, 54, 206);
            justify-self: center;
            margin-bottom: 0;
        }
        .sloganBody{
            font-family: 'sigmar';
            font-style: italic;
            color: rgb(112, 54, 206);

            grid-row:1/2;
            grid-column: 2/3;
            /* margin-top: 0; */
            font-size: 3rem;
            justify-self: start;
            align-self: center;
        }
        .bodyTitle{
            font-family: "Charm-Bold";
            color: rgb(112, 54, 206);
            font-size: 3rem;
            grid-row: 2/3;
            grid-column: 2/3;
            justify-self: start;
        }
      
            
    #imgContainer{
        min-height: fit-content;
      
    }
    #productImg{
        /* height: 80vh; */
        max-width: 30vw;
        align-self: center;
        border-radius: 50px;
    }
    .browniesContainer{
        grid-row: 2/3;
        grid-column: 1/2;
        
    }
    .pieContainer{
        grid-row: 2/3;
        grid-column: 2/3;
      
    }
        .pie{
            max-height: 40vh;
            max-width: fit-content;
        }
    .cookiesContainer{
        grid-row: 3/4;
        grid-column: 2/3;
    }
    .chocolateCakeContainer{
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .cupcakesContainer{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .pumpkinPieContainer{
        grid-row: 5/6;
        grid-column: 2/3;
    }
    .croissantsContainer{
        grid-row: 4/5;
        grid-column: 3/4;
    }